*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: darkblue;
    height: 90px;
}

#img{
    height: 80px;
    width: 90px;
}

#span{
    color: white;
    font-size: 20px;
    font-family: "Lora", serif;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1200;
    margin-left: auto;
    margin-right: auto;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.link{
    color: wheat;
    text-decoration: none;
}

#menuButton{
    display: block;
}

#img1{
    max-width: 100%;
    height: auto;
    background-image: url(Images/bagroundpic.jpg);
    background-size: cover;
    background-position: center;
}

.banner{
    position: relative;
}

.banner-text{
    position: absolute;
    top: 25%;
    color: midnightblue;
    padding: 20px;
    font-weight: 1000;
}

body {
    background-color:rgb(198, 198, 240);
  
}

.banner-text {
    position: absolute;
    top: 25%; 
    right: 78%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
   font-family: 'Times New Roman';
    font-size: 12em;
    padding: 20px;
    font-weight: 700;
    color: navy;
    text-shadow: 1px 1px 1px #382f2f,
        1px 2px 1px #695e5e,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.vTour{
    position: absolute;
    font-weight: 1000;
    top: 5%;
    left: 85%;
     border-radius: 5rem;

}

#img2{
    height: 30px;
    width: 40px;
}

.floatbox{
    position: absolute;
    top: 60%;
    left: 15%;
}

.class1{
    height: 60px;
    width: 60px;
}

.booknow{
    position: absolute;
    font-weight: 1000;
    top: 15%;
    left: 86%;
     border-radius: 5rem;

}

.image{
    height: 100%;
    width: 100%;
}

#images{
    height: 550;
    width: 750;
}

.form1{
    position: absolute;
    top: 25%;
    color: midnightblue;
    padding: 20px;
    font-weight: 1000;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.banner1{
    position: relative;
}

.heading1{
    font-family: "Salsa", cursive;
    font-weight: 400;
}

.card-title{
    font-family: "Merriweather", serif;
}

.contactUs{
    font-family: "Almendra SC", serif;
  font-weight: 400;
  font-size: 25px;
}


  